body{
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
  color: black;
}
/* main page*/
#title{
  background-image:url(shopping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 700px;
  color:#fff;

}
.nav-link{
  color:#fff;

}
.nav-link:hover{
  transform:scale(1.05);
}

.navbar-brand{
  font-family: "Ubuntu";
  color:#fff;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
  cursor: pointer;
}
.navbar-nav{
  align-items: center;
}


.content1{
  margin-top:20px
}

h1{

  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
}
.download-button{
  margin: 100px 0 100px 0;
  padding: 10px 20px 10px 20px;
}
/* Brands section */
#Brand{
  padding: 7% 2% 7% 5%;
  background-color: #AEBDCA;
}
.caption{
  color:#CFD2CF;
  text-align: center;
  font-size: 25px;
}
.Brand-header{
   text-align:center;
   padding:10px 0 0 0;
}
.colgrid {
  padding: 3% 1% 3% 1%;
}
.card:hover{
  transform:scale(1.05);
}
/* Slider section */
#slider{
  background-color: #FFB4B4;
}
.cf{
  padding:5% 15% 8% 15%;
  background-color: #FFB4B4;
}
.img:hover{
  transform: scale(1.02);
}
/* luxury*/
#luxury{
  background-color: #F2D7D9;
  padding: 3% 2% 7% 5%;

}
.col1grid {
  padding: 3% 1% 3% 1%;
}
.col1grid img{
    display:inline-block;
    border-radius: 10px;
}
.col1grid .card:hover{
  box-shadow: 0 0 20px 0px #EC7272;

}
/* offers */
#offers{
  background-color: black;
  padding:3%;
}
.offer-header{
  display: block;
  overflow:hidden;
  width: 100%;
  margin-bottom:5%;
  animation: animate 1s linear infinite;

}
.colu{
  margin-top:10%;
  padding: 0;
}
.of{
  margin-left:10%;

}
.c{
  background-color: black;
}
.round{
    border-radius: 50%;
}
@keyframes animate{
  100%{
    transform: translateY(3vh) scale(1.5);
  }

}

/* all*/
#all{
  background-color:#EEF1FF;

  padding: 3%;
}
.em{
  text-align: center;
  font-size: 50px;
  color: blue;
}
/* footer */
#footer{

  padding: 5%;
  background-color: #ABD9FF;
}
.c1{
  margin:3%;
  color:black;
}
.c2{
  background-color: #F2F2F2;

}
.c2:hover{
  transform:none;
}
.fa{
  margin-right:1%;
}
.fa:hover{
  color:blue;
}
/* clothing */

.c3{
  margin:5%;
}
#cloth{
  background-color: #DFF6FF;
  padding: 5%;
}
.card-body{
  text-align: center;
}
/* watch */
.watch{
  background-image: url(watch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 600px;
}
.watch-bg{
  background-color:#AF7AB3;
  padding: 3%;

}
/* foot */
#foot{
  background-color: #E9DAC1;
  padding: 3%;
}
/*beauty */
#beauty{
  background-color: #EC7272;
}
/* account */
#account{
  background-color: #CDF0EA;
}
.button{
padding:10%;
border-radius: 20%;
}
.c4{
  text-align: center;
  margin-top: 30px;
  background-color: #fff;
  height:700px;
  width:600px;
}
@media (max-width:1000px)  {
  #title{
    width:100%;
    height: 700px;
    background-image:url(shop1.jpg);
    background-size: cover;
    background-position: center;
}
  .content{
    text-align: center;
    position:relative;
    font-size: 40px;
    line-height: 1;
    margin:200px 25px 0 0;

  }
  .navbar-brand{
    font-size: 2rem;
  }
  .Brand-header{
    font-size: 2rem;
  }
  .offer-header{
    font-size: 2rem;
  }
  .off{
    font-size: 2rem;
  }
  .c4{
    width:300px;
    height: 350px;
  }
  @media (min-width:650px) {
    .c4{
        width:400px;
        height:450px;
    }


  }
}
